@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center py-5">
    <div class="display-1 text-danger mb-4">500</div>
    <h1 class="display-4 mb-3">Oops! Something went wrong.</h1>
    <p class="lead mb-4">We're sorry, but an error occurred.</p>
    <a href="/" class="btn btn-primary rounded-pill px-4">Go Home</a>
</div>
