@model MoviesCatalog.Models.Movie

@{
    ViewData["Title"] = "Изтрий филм";
}

<h1>Are you sure?</h1>

<div class="alert alert-danger">
    <h4>You want to delete this movie?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Release year</dt>
        <dd class="col-sm-9">@Model.ReleaseYear</dd>

        <dt class="col-sm-3">Genre</dt>
        <dd class="col-sm-9">@Model.Genre?.Name</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>